@import "../node_modules/nes.css/css/nes.css";
@import url('http://fonts.cdnfonts.com/css/pokemon-solid');

.parent {
  
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 10% repeat(4, 20%) 10%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-image: url('./background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  
  }
  
.header { 
  grid-area: 1 / 1 / 2 / 3; 
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer { grid-area: 6 / 1 / 7 / 3; }
.pokemon-picture-container { grid-area: 2 / 1 / 4 / 2; }
.keyboard { 
  grid-area: 4 / 1 / 6 / 2; 
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  font-size: medium;
  font-family: 'Pokemon Solid';
  padding: 5%;
}
.hangman { grid-area: 2 / 2 / 5 / 3; }
.letters { grid-area: 5 / 2 / 6 / 3; }
  
.border {
  border-color: mediumpurple;  
  border-style: solid;
  border-width: 5px;
}

.pokemon-logo {
  background-image: url('./pokemon.png');
  height: 85%;
  width: 15%;
  margin-left: 1%;
}

.hanging-pikachu {
  background-image: url('./pikachu-hangman.png');
  height: 50%;
  width: 8%;
  margin-right: 1%;
}

.header-image {
  grid-area: "image";
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.black {
  filter: brightness(0%);
}

.pokemon-picture{
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
}

.letter-placement{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  font-size: xx-large;
  font-family: 'Pokemon Solid';
  color: #412750;
  padding-left: 10%;
  padding-right: 10%;
}

.keyboard-row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: x-large;
  font-family: 'Pokemon Solid';  
}

.key-box:hover {
  /*add shadow on hover*/
  text-shadow: 0 0 19px rgba(33, 33, 33, 20.2);
}

.disabled-text-key {
  color: #505558;
  opacity: 0.3;
}